<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from themifycloud.com/demos/templates/KAdmin/KAdmin-Dark/Dropdown.html by HTTrack Website Copier/3.x [XR&CO'2010], Tue, 09 Dec 2014 01:26:45 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8"><!-- /Added by HTTrack -->
<head>
    <title><%=username%> - <%=appName%></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/icons/favicon.html">
    <link rel="apple-touch-icon" href="images/icons/favicon-2.html">
    <link rel="apple-touch-icon" sizes="72x72" href="images/icons/favicon-72x72.html">
    <link rel="apple-touch-icon" sizes="114x114" href="images/icons/favicon-114x114.html">
    <!--Loading bootstrap css-->
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700">
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,700,300">
    <link type="text/css" rel="stylesheet" href="/dashboard/styles/jquery-ui-1.10.4.custom.min.css">
    <link type="text/css" rel="stylesheet" href="/dashboard/styles/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/dashboard/styles/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/dashboard/styles/animate.css">
    <link type="text/css" rel="stylesheet" href="/dashboard/styles/all.css">
    <link type="text/css" rel="stylesheet" href="/dashboard/styles/main.css">
    <link type="text/css" rel="stylesheet" href="/dashboard/styles/style-responsive.css">
    <link type="text/css" rel="stylesheet" href="/dashboard/styles/zabuto_calendar.min.css">
    <link type="text/css" rel="stylesheet" href="/dashboard/styles/pace.css">
    <link type="text/css" rel="stylesheet" href="/dashboard/styles/jquery.news-ticker.css">
     <link type="text/css" rel="stylesheet" href="/dashboard/styles/nestable.css">
     <!-- Code Editor Scripts and css  -->
     <link rel=stylesheet href="/ZeusCodeEditor/css/docs.css">
<!-- initilize code editor with line number -->
<link rel="stylesheet" href="/ZeusCodeEditor/css/codemirror.css">
<link rel="stylesheet" href="/ZeusCodeEditor/css/show-hint.css">
<link rel="stylesheet" href="/ZeusCodeEditor/css/fullscreen.css">
<link rel="stylesheet" href="/ZeusCodeEditor/css/lint.css">
<!-- below css are for code editor's theme -->
<link rel="stylesheet" href="/ZeusCodeEditor/theme/3024-day.css">
<link rel="stylesheet" href="/ZeusCodeEditor/theme/3024-night.css">
<link rel="stylesheet" href="/ZeusCodeEditor/theme/ambiance.css">
<link rel="stylesheet" href="/ZeusCodeEditor/theme/base16-dark.css">
<link rel="stylesheet" href="/ZeusCodeEditor/theme/base16-light.css">
<link rel="stylesheet" href="/ZeusCodeEditor/theme/blackboard.css">
<link rel="stylesheet" href="/ZeusCodeEditor/theme/cobalt.css">
<link rel="stylesheet" href="/ZeusCodeEditor/theme/eclipse.css">
<link rel="stylesheet" href="/ZeusCodeEditor/theme/elegant.css">
<link rel="stylesheet" href="/ZeusCodeEditor/theme/erlang-dark.css">
<link rel="stylesheet" href="/ZeusCodeEditor/theme/lesser-dark.css">
<link rel="stylesheet" href="/ZeusCodeEditor/theme/mbo.css">
<link rel="stylesheet" href="/ZeusCodeEditor/theme/mdn-like.css">
<link rel="stylesheet" href="/ZeusCodeEditor/theme/midnight.css">
<link rel="stylesheet" href="/ZeusCodeEditor/theme/monokai.css">
<link rel="stylesheet" href="/ZeusCodeEditor/theme/neat.css">
<link rel="stylesheet" href="/ZeusCodeEditor/theme/neo.css">
<link rel="stylesheet" href="/ZeusCodeEditor/theme/night.css">
<link rel="stylesheet" href="/ZeusCodeEditor/theme/paraiso-dark.css">
<link rel="stylesheet" href="/ZeusCodeEditor/theme/paraiso-light.css">
<link rel="stylesheet" href="/ZeusCodeEditor/theme/pastel-on-dark.css">
<link rel="stylesheet" href="/ZeusCodeEditor/theme/rubyblue.css">
<link rel="stylesheet" href="/ZeusCodeEditor/theme/solarized.css">
<link rel="stylesheet" href="/ZeusCodeEditor/theme/the-matrix.css">
<link rel="stylesheet" href="/ZeusCodeEditor/theme/tomorrow-night-eighties.css">
<link rel="stylesheet" href="/ZeusCodeEditor/theme/twilight.css">
<link rel="stylesheet" href="/ZeusCodeEditor/theme/vibrant-ink.css">
<link rel="stylesheet" href="/ZeusCodeEditor/theme/xq-dark.css">
<link rel="stylesheet" href="/ZeusCodeEditor/theme/xq-light.css">
<!-- jquery 2.1.0 minified version -->
  <script src="/ZeusCodeEditor/js/jquery-2.1.0.min.js"></script>
<!-- main code editor library -->
<script src="/ZeusCodeEditor/lib/codemirror.js"></script>
<!-- code editor feature enhancements -->
<script src="/ZeusCodeEditor/lib/closebrackets.js"></script>
<script src="/ZeusCodeEditor/lib/fullscreen.js"></script>
<script src="/ZeusCodeEditor/languagemode/jshints.js"></script>
<script src="/ZeusCodeEditor/lib/active-line.js"></script>
<!-- code editor hint -->
<script src="/ZeusCodeEditor/lib/show-hint.js"></script>
<script src="/ZeusCodeEditor/lib/anyword-hint.js"></script>
<script src="/ZeusCodeEditor/lib/javascript-hint.js"></script>
<!-- lint -->
<script src="/ZeusCodeEditor/lib/lint.js"></script>
<script src="/ZeusCodeEditor/lib/javascript-lint.js"></script>
<script src="/ZeusCodeEditor/lib/json-lint.js"></script>
<script src="/ZeusCodeEditor/lib/css-lint.js"></script>

<!-- code editor language support -->
<script src="/ZeusCodeEditor/languagemode/javascript.js"></script>
<script src="/ZeusCodeEditor/languagemode/xquery.js"></script>
<script src="/ZeusCodeEditor/languagemode/xml.js"></script>
     <script type="text/javascript" >
     var files, dirs, fileLength, dirLength;
    $(document).ready(function(){
   
   
        $.ajax({
                        
                        type: 'post',
                        data: "",
                        dataType: "json",
                        contentType: 'application/json',
                        url: 'http://localhost/listFilesAndDirectories/<%=appName%>',                       
                        success: function(data) {
                           getFileNames(data);
                        
                        },
                        
                    });
        
    });
    </script>
    
    
      </script>
   
    
    <script type="text/javascript" >
    
    function getFileNames(data){
    var length = data.length;

    for(var i =0;i < length;i++)
    {
    if ( data[i].d != undefined) {

    var fileLoc = data[i].d.split('/');
    
    var createFolder='<ol class="dd-list">'+
'<li class="dd-item" data-id="1">'+
'<div class="dd-handle">'+fileLoc[fileLoc.length-1]+'</div>'+
'<ol class="dd-list">'+
'</ol></li></ol>';
$("#nestable").append(createFolder);
    }

    }
 
   
    for(var i =0;i < length;i++)
    {
   
        if ( data[i].f !=  undefined) {
     var filePath = data[i].f;
    var fileLoc = data[i].f.split('/');
    var createFiles='<ol class="dd-list">'+
'<li class="dd-item" data-id="1">'+
'<a href="#" id='+filePath+' onClick="getFileContent(this.id);"><li class="dd-item"  data-id="3">'+fileLoc[fileLoc.length-1]+'</li></a>'+
'</ol></li></ol>';
$("#nestable").append(createFiles);
    }
    }
    }
    function getFileContent(filePath){
    alert(filePath);
    
    var text_send = '"'+filePath+'"';
    var k = String(text_send);
    alert(text_send);
    var k  = '{"k":k}';
   // alert(k.text_send);
    $.ajax({
                        
                        type: 'get',
                        data: text_send,
                        dataType: "json",
                        contentType: 'application/json',
                        url: '/readFromFile?fileDest='+text_send,                       
                        success: function(data) {
                           getFileNames(data);
                           $("#code").val(data);
                        
                        }
                        
                    });
        
   
    
    }
    </script>
    
</head>
<body class="pace-done left-side-collapsed">
    <div>
         <!--BEGIN BACK TO TOP-->
        <a id="totop" href="#"><i class="fa fa-angle-up"></i></a>
        <!--END BACK TO TOP-->
        <!--BEGIN TOPBAR-->
        <div id="header-topbar-option-demo" class="page-header-topbar">
            <nav id="topbar" role="navigation" style="margin-bottom: 0;" data-step="3" class="navbar navbar-default navbar-static-top">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target=".sidebar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <a id="logo" href="index.html" class="navbar-brand"><span class="fa fa-rocket"></span><span class="logo-text">Zeus PaaS</span><span style="display: none" class="logo-text-icon">µ</span></a></div>
            <div class="topbar-main"><a id="menu-toggle" href="#" class="hidden-xs"><i class="fa fa-bars"></i></a>
                
              
                <div class="news-update-box hidden-xs"><span class="text-uppercase mrm pull-left text-white">News:</span>
                    <ul id="" class="ticker list-unstyled" style="width:1050px;">
                        <li>Welcome to Zeus PaaS - Create your Application and Deploy them. Press F11 inside Editor to use Editor in Fullscreen, Esc to exit Fullscreen.</li>
                    </ul>
                </div>
                <ul class="nav navbar navbar-top-links navbar-right mbn">
                    
                    
                    <li class="dropdown topbar-user"><a data-hover="dropdown" href="#" class="dropdown-toggle"><img src="images/avatar/48.jpg" alt="" class="img-responsive img-circle"/>&nbsp;<span class="hidden-xs">
                    <% if (typeof username == 'undefined' || username==null) { %>
                                 Login
                                <%} else {%>
                                <%=username%>
                                <%}%>
                    </span>&nbsp;<span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-user pull-right">
                            <li><a href="#"><i class="fa fa-user"></i>My Profile</a></li>
                            <li><a href="/createNewApplication"><i class="fa fa-asterisk"></i>Create New Application</a></li>
                            <li><a href="#"><i class="fa fa-tasks"></i>My Application</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="fa fa-lock"></i>Lock Screen</a></li>
                            <li><a href="Login.html"><i class="fa fa-key"></i>Log Out</a></li>
                        </ul>
                    </li>
                   
                </ul>
            </div>
        </nav>
            <!--BEGIN MODAL CONFIG PORTLET-->
            <div id="modal-config" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" data-dismiss="modal" aria-hidden="true" class="close">
                                &times;</button>
                            <h4 class="modal-title">
                                Modal title</h4>
                        </div>
                      
                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn btn-default">
                                Close</button>
                            <button type="button" class="btn btn-primary">
                                Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--END MODAL CONFIG PORTLET-->
        </div>
        <!--END TOPBAR-->
        <div id="wrapper">
            <!--BEGIN SIDEBAR MENU-->
            <nav id="sidebar" role="navigation" data-step="2" data-intro="Template has &lt;b&gt;many navigation styles&lt;/b&gt;"
                data-position="right" class="navbar-default navbar-static-side">
            <div class="sidebar-collapse menu-scroll">
                <ul id="side-menu" class="nav">
                    
                     <div class="clearfix"></div>
                    <li class="active"><a href="/dashboard"><i class="fa fa-tachometer fa-fw">
                        <div class="icon-bg bg-orange"></div>
                    </i><span class="menu-title">Dashboard</span></a></li>
                    <li><a href="/createNewApplication"><i class="fa fa-asterisk">
                        <div class="icon-bg bg-pink"></div>
                    </i><span class="menu-title">Create New Application</span></a>
                       
                    </li>
                    <li><a href="UIElements.html"><i class="fa fa-code-fork">
                        <div class="icon-bg bg-green"></div>
                    </i><span class="menu-title">Git Fork</span></a>
                       
                    </li>
                    <li><a href="Forms.html"><i class="fa fa-tasks">
                        <div class="icon-bg bg-violet"></div>
                    </i><span class="menu-title">My Applications</span></a>
                      
                    </li>
                    <li><a href="Tables.html"><i class="fa fa-th-list fa-fw">
                        <div class="icon-bg bg-blue"></div>
                    </i><span class="menu-title">Tables</span></a>
                          
                    </li>
                    <li><a href="DataGrid.html"><i class="fa fa-database fa-fw">
                        <div class="icon-bg bg-red"></div>
                    </i><span class="menu-title">Data Grids</span></a>
                      
                    </li>
                    <li><a href="/editor"><i class="fa fa-file-o fa-fw">
                        <div class="icon-bg bg-yellow"></div>
                    </i><span class="menu-title">Editor</span></a>
                    
                    <li><a href="Animation.html"><i class="fa fa-slack fa-fw">
                        <div class="icon-bg bg-green"></div>
                    </i><span class="menu-title">Settings</span></a></li>
                </ul>
            </div>
        </nav>
            <!--END SIDEBAR MENU-->
            <!--BEGIN CHAT FORM-->
            <div id="chat-form" class="fixed">
                <div class="chat-inner">
                    <h2 class="chat-header">
                        <a href="javascript:;" class="chat-form-close pull-right"><i class="glyphicon glyphicon-remove">
                        </i></a><i class="fa fa-user"></i>&nbsp; Chat &nbsp;<span class="badge badge-info">3</span></h2>
                    <div id="group-1" class="chat-group">
                        <strong>Favorites</strong><a href="#"><span class="user-status is-online"></span> <small>
                            Verna Morton</small> <span class="badge badge-info">2</span></a><a href="#"><span
                                class="user-status is-online"></span> <small>Delores Blake</small> <span class="badge badge-info is-hidden">
                                    0</span></a><a href="#"><span class="user-status is-busy"></span> <small>Nathaniel Morris</small>
                                        <span class="badge badge-info is-hidden">0</span></a><a href="#"><span class="user-status is-idle"></span>
                                            <small>Boyd Bridges</small> <span class="badge badge-info is-hidden">0</span></a><a
                                                href="#"><span class="user-status is-offline"></span> <small>Meredith Houston</small>
                                                <span class="badge badge-info is-hidden">0</span></a></div>
                    <div id="group-2" class="chat-group">
                        <strong>Office</strong><a href="#"><span class="user-status is-busy"></span> <small>
                            Ann Scott</small> <span class="badge badge-info is-hidden">0</span></a><a href="#"><span
                                class="user-status is-offline"></span> <small>Sherman Stokes</small> <span class="badge badge-info is-hidden">
                                    0</span></a><a href="#"><span class="user-status is-offline"></span> <small>Florence
                                        Pierce</small> <span class="badge badge-info">1</span></a></div>
                    <div id="group-3" class="chat-group">
                        <strong>Friends</strong><a href="#"><span class="user-status is-online"></span> <small>
                            Willard Mckenzie</small> <span class="badge badge-info is-hidden">0</span></a><a
                                href="#"><span class="user-status is-busy"></span> <small>Jenny Frazier</small>
                                <span class="badge badge-info is-hidden">0</span></a><a href="#"><span class="user-status is-offline"></span>
                                    <small>Chris Stewart</small> <span class="badge badge-info is-hidden">0</span></a><a
                                        href="#"><span class="user-status is-offline"></span> <small>Olivia Green</small>
                                        <span class="badge badge-info is-hidden">0</span></a></div>
                </div>
                <div id="chat-box" style="top: 400px">
                    <div class="chat-box-header">
                        <a href="#" class="chat-box-close pull-right"><i class="glyphicon glyphicon-remove">
                        </i></a><span class="user-status is-online"></span><span class="display-name">Willard
                            Mckenzie</span> <small>Online</small>
                    </div>
                    <div class="chat-content">
                        <ul class="chat-box-body">
                            <li>
                                <p>
                                    <img src="images/avatar/128.jpg" class="avt" /><span class="user">John Doe</span><span
                                        class="time">09:33</span></p>
                                <p>
                                    Hi Swlabs, we have some comments for you.</p>
                            </li>
                            <li class="odd">
                                <p>
                                    <img src="images/avatar/48.jpg" class="avt" /><span class="user">Swlabs</span><span
                                        class="time">09:33</span></p>
                                <p>
                                    Hi, we're listening you...</p>
                            </li>
                        </ul>
                    </div>
                    <div class="chat-textarea">
                        <input placeholder="Type your message" class="form-control" /></div>
                </div>
            </div>
            <!--END CHAT FORM-->
            <!--BEGIN PAGE WRAPPER-->
            <div id="page-wrapper">
                <!--BEGIN TITLE & BREADCRUMB PAGE-->
                <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                    <div class="page-header pull-left">
                        <div class="page-title">
                            Create New Application</div>
                    </div>
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li><i class="fa fa-home"></i>&nbsp;<a href="#">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
                        <li class="hidden"><a href="#">Dashboard</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
                        <li class="active">Editor</li>
                    </ol>
                    <div class="clearfix">
                    </div>
                </div>
                <!--END TITLE & BREADCRUMB PAGE-->
                <!--BEGIN CONTENT-->
                <div class="page-content">
                    <div id="tab-general">
                        <div class="row mbl">
                            <div class="col-lg-12">
                                
                                            <div class="col-md-12">
                                                <div id="area-chart-spline" style="width: 100%; height: 300px; display: none;">
                                                </div>
                                            </div>
                                
                            </div>

                            <div class="col-lg-12">
                              
                                    <div class="row">
                    <div class="col-lg-3">
                        <div class="panel">
                            <div class="panel-body"><h4 class="block-heading"><b><%=appName%></b></h4>

                                <div id="nestable" class="dd">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                     <!--   <article>  -->
      
        <textarea id="code" name="code">
var express = require('express')
  , http = require('http')
  , path = require('path')
  ,zones = require('./routes/createdomain')
  , httpProxy = require('http-proxy')
  , childprocess = require('child_process'),
spawn = require('child_process').spawn;

var favicon                     = require('serve-favicon');
var logger                              = require('morgan');
var cookieParser        = require('cookie-parser');
var bodyParser          = require('body-parser');
var mongoose                    = require('mongoose'); // mongoose for mongodb
var expressSession = require('express-session') // Sessions

var routes = require('./routes/index');
var users = require('./routes/users');

var app = express();

///Port 3000-3001 for Zeus's setup 
var ports=3001;
var storage=""; // json storage for temporary purpose
var start_file = 'app.js';
var responseLog;
//Applications Port will be running after port 3010

var app_port = 3010;


// Configuration of Mongodb
//mongoose.connect('mongodb://localhost:27017/zeus');

//Configuration

app.set('view engine', 'ejs');
app.set('port', process.env.PORT || 3001);
app.set('views', __dirname + '/views');
app.use(cookieParser());
app.use(express.static(path.join(__dirname, 'public')));
app.use(expressSession({secret: 'zeus needs secret', maxAge : 86400000}));
app.use(express.static(path.join(__dirname, 'public')));
app.use(bodyParser.urlencoded());
app.use(bodyParser.json());

//development 
//app.configure('development', function(){
//  app.use(express.errorHandler({ dumpExceptions: true, showStack: true }));
//});

//Produciton
//app.configure('production', function(){
//  app.use(express.errorHandler());
//});

//************************
//Error Handlers


// development error handler
// will print stacktrace
//Error Handlers 
//*****************************                                                 
                                                              
app.get('/', routes);
app.post('/login',function (req,res){
res.send("login hit");

});
app.get('/index',function(req,res,next){
      if (!path.extname(req.url)){
        var ip = req.connection.remoteAddress || req.socket.remoteAddress;
        if (req.headers["x-real-ip"]) ip = req.headers["x-real-ip"];
        var toEmit = {
          ip     : ip,
          url    : req.url,
          time   : new Date(),
          method : req.method,
          host   : req.headers.host,
        };
        console.log("Emitter: "+JSON.stringify(toEmit));
        //dash.emit('nodester::incomingRequest', toEmit);
        
      }
      res.render('index',{title: "express"});
});


//To create a new Sub-domain
// Utsav's code below
app.post('/createDomain',function(req,res)
{
var domain_name = req.body.domainName;
//Arguments needs to be changed according to AWS dns settings
var args = { 
zoneId : "Z2WHLIJ6XNK5AG",
name : domain_name + '.utsavpopli.me',
type : "A",
ttl : 700, 
values : [
'54.183.142.127'
]
};
zones.createDomain(args);
res.send("Domain created");
});
</textarea>
 <!-- <article>  -->
  <!-- Code Editor Script -->
      <script type="text/javascript">
var myCodeMirror = CodeMirror(document.body);
  CodeMirror.commands.autocomplete = function(cm) {
        cm.showHint({hint: CodeMirror.hint.anyword});
      }
      var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        lineNumbers: true,
        mode: "javascript",
        gutters: ["CodeMirror-lint-markers"],
        lint: true,
        extraKeys: {"Ctrl-Space": "autocomplete","F11": function(cm) {
          cm.setOption("fullScreen", !cm.getOption("fullScreen"));
        },
        "Esc": function(cm) {
          if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
        }},
        matchBrackets: true,
        autoCloseBrackets: true,
        theme:"ambiance",
        lineWrapping: true,
        styleActiveLine: true
        });
      
        
      var input = document.getElementById("select");
  function selectTheme() {
   // will change the selected theme.
    var theme = $('#select').val();
    
    editor.setOption("theme", theme);
  }
  function FullScreen(){
      editor.setOption("fullScreen","fullScreen");
      }
</script>
          
                    </div>
       <div class="col-lg">
        <button type="submit" class="btn btn-primary col-lg-1">
                                                        Start App </button> 
                                                        <p></p>
             <button type="submit" class="btn btn-primary col-lg-1" style="top: 10px;">
                                                        Commit </button> 
                                                        <p></p>
              <button type="submit" class="btn btn-primary col-lg-1" style="top: 20px;">
                                                        Delete App </button> 
                                                        
               <select onchange="selectTheme()" id="select" class="col-lg-1" style="top: 30px;">
    <option value="default">default</option>
    <option>3024-day</option>
    <option>3024-night</option>
    <option selected>ambiance</option>
    <option>base16-dark</option>
    <option>base16-light</option>
    <option>blackboard</option>
    <option>cobalt</option>
    <option>eclipse</option>
    <option>elegant</option>
    <option>erlang-dark</option>
    <option>lesser-dark</option>
    <option>mbo</option>
    <option>mdn-like</option>
    <option>midnight</option>
    <option>monokai</option>
    <option>neat</option>
    <option>neo</option>
    <option>night</option>
    <option>paraiso-dark</option>
    <option>paraiso-light</option>
    <option>pastel-on-dark</option>
    <option>rubyblue</option>
    <option>solarized dark</option>
    <option>solarized light</option>
    <option>the-matrix</option>
    <option>tomorrow-night-eighties</option>
    <option>twilight</option>
    <option>vibrant-ink</option>
    <option>xq-dark</option>
    <option>xq-light</option>
</select>                                           
         </div>  
       
        </div>  
                </div>
                              
                              
                                </div>
                                
                            
                     
                            
                        </div>
                    </div>
                </div>
                <!--END CONTENT-->
                
            </div>
            <!--END PAGE WRAPPER-->
        </div>
    </div>
    <script src="/dashboard/script/jquery-1.10.2.min.js"></script>
    <script src="/dashboard/script/jquery-migrate-1.2.1.min.js"></script>
    <script src="/dashboard/script/jquery-ui.js"></script>
    <script src="/dashboard/script/bootstrap.min.js"></script>
    <script src="/dashboard/script/bootstrap-hover-dropdown.js"></script>
    <script src="/dashboard/script/html5shiv.js"></script>
    <script src="/dashboard/script/respond.min.js"></script>
    <script src="/dashboard/script/jquery.metisMenu.js"></script>
    <script src="/dashboard/script/jquery.slimscroll.js"></script>
    <script src="/dashboard/script/jquery.cookie.js"></script>
    <script src="/dashboard/script/icheck.min.js"></script>
    <script src="/dashboard/script/custom.min.js"></script>
    <script src="/dashboard/script/jquery.news-ticker.js"></script>
    <script src="/dashboard/script/jquery.menu.js"></script>
    <script src="/dashboard/script/pace.min.js"></script>
    <script src="/dashboard/script/holder.js"></script>
    <script src="/dashboard/script/responsive-tabs.js"></script>
    <script src="/dashboard/script/jquery.flot.js"></script>
    <script src="/dashboard/script/jquery.flot.categories.js"></script>
    <script src="/dashboard/script/jquery.flot.pie.js"></script>
    <script src="/dashboard/script/jquery.flot.tooltip.js"></script>
    <script src="/dashboard/script/jquery.flot.resize.js"></script>
    <script src="/dashboard/script/jquery.flot.fillbetween.js"></script>
    <script src="/dashboard/script/jquery.flot.stack.js"></script>
    <script src="/dashboard/script/jquery.flot.spline.js"></script>
    <script src="/dashboard/script/zabuto_calendar.min.js"></script>

    <script src="/dashboard/script/index.js"></script>
    <!--LOADING SCRIPTS FOR CHARTS-->
    <script src="/dashboard/script/highcharts.js"></script>
    <script src="/dashboard/script/data.js"></script>
    <script src="/dashboard/script/drilldown.js"></script>
    <script src="/dashboard/script/exporting.js"></script>
    <script src="/dashboard/script/highcharts-more.js"></script>
    <script src="/dashboard/script/charts-highchart-pie.js"></script>
    <script src="/dashboard/script/charts-highchart-more.js"></script>

      <script src="/dashboard/script/jquery.nestable.js"></script>
<!-- <script src="/dashboard/script/ui-nestable-list.js"></script>-->
    <!--CORE JAVASCRIPT-->
    <script src="/dashboard/script/main.js"></script>
    
</body>
</html>